.full-button-width{
    width: 100%;
}
.top-margin-10{
    margin-top: 10px;
}
.top-margin-15{
    margin-top: 15px;
}
.top-margin-30{
    margin-top: 30px;
}
.no-padding{
    padding: 0 0 0 0;
}
.no-left-padding{
    padding-left: 0px;
}
.no-left-margin{
    margin-left: 0px;
}
.no-top-margin{
    margin-top: 0px;
}
.right-align {
    float: right !important;
}
.full-width{
    width: 100%;
}