.profile-img {
    height: 250px;
    width: 250px;
}

.top-banner {
    margin-top: 0px;
}

.top-banner-text {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 215px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}
