<div class="row">
    <h1 class="page-header">Admin</h1>
</div>
<div class="row">
    <h2>Users</h2>
</div>
<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 no-left-padding">
        <div class="table-responsive">
            <table class="table table-striped table-bordered top-margin-15">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Username</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Password</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <form class="form-inline">
                        <td><input type="text" class="form-control" placeholder="Username"/></td>
                        <td><input type="password" class="form-control" placeholder="Password"/></td>
                        <td><input type="text" class="form-control" placeholder="Role"/></td>
                        <td class="no-wrap">
                            <a href="#" class="btn btn-warning btn-sm">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            <a href="#" class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        </td>
                    </form>
                </tr>
                <tr>
                    <td>alice</td>
                    <td></td>
                    <td>Student</td>
                    <td class="no-wrap">
                        <a href="#" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <a href="#" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>bob</td>
                    <td></td>
                    <td>Faculty | Admin</td>
                    <td class="no-wrap">
                        <a href="#" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <a href="#" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>charlie</td>
                    <td></td>
                    <td></td>
                    <td class="no-wrap">
                        <a href="#" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <a href="#" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>