/*.profile-img {*/
/*height: 250px;*/
/*width: 250px;*/
/*}*/

.top-banner {
    margin-top: 0px;
}

.top-banner-text {
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15rem;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .top-banner-text {
        color: #FFFFFF;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 7rem;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
    }
}

.banner-text {
    color: #FFFFFF;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15rem;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .banner-text {
        color: #FFFFFF;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 5rem;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
    }
}


.profile-img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../profile/media/small-profile.jpg");
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    /*border-radius: 99em;*/
    /*border: 5px solid #eee;*/
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.bg-text {
    /*background-color: #aaa;*/
    overflow: hidden;
    /*padding: 20px 20px 100px 20px;*/
    position: relative;
    /*width: 400px;*/
}
.bg-text::after {
    color: #fff;
    content: attr(data-bg-text);
    display: block;
    font-size: 10rem;
    line-height: 1;
    position: absolute;
    bottom: -30px;
    right: 20px;
}

