<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar"
        ng-controller="SideBarController">
        <li ng-class="{active: $location.url() == '/home'}">
            <a href="#/home">Home</a>
        </li>
        <li ng-show="user"
            ng-class="{active: $location.url() == '/'+user._id+'/profile'}">
            <a href={{'#/'+user._id+'/profile'}}>Profile
            </a>
        </li>
        <li ng-show="user && user.roles.indexOf('admin') > -1"
            ng-class="{active: $location.url() == '/'+user._id+'/admin'}">
            <a href="{{'#/'+user._id+'/admin'}}">Admin
            </a>
        </li>
        <li ng-show="user"
            ng-class="{active: (($location.url().indexOf('/forms') > -1)
                    || ($location.url().indexOf('/fields') > -1))}">
            <a href={{'#/'+user._id+'/forms'}}>Forms
            </a>
        </li>
    </ul>
</div>