<section class="grey lighten-3">
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m2">
                    &nbsp;
                </div>
                <div class="col s12 m8 center">
                    <div class="icon-block">
                        <div class="profile-img"></div>
                        <p class="light  center-align">
                            I am a candidate for Master of Science in Computer Science at Northeastern University with
                            four
                            years of experience at Accenture.
                        </p>
                        <p class="light center-align">
                            During my undergraduate, I developed an autonomous robot, which was widely appreciated and
                            it
                            gave me broader perspective on technology. After college, I moved to Accenture where I
                            worked on
                            enterprise web channels for Fortune 100 companies. My primary technology focus at Accenture
                            was
                            Hybris, J2EE and JQuery, mostly working on solutions for multi-country rollouts, application
                            scaling, security and quality assurance. Currently at Northeastern University, I am
                            concentrating my master's around applied machine
                            learning. I am also volunteering at the mHealth Research Group at Northeastern, lead by
                            Prof.
                            Stephen Intille , where we are working on a virtual health coach to analyze human health
                            patterns. In my spare time, I like to create content and am always game for table tennis.
                        </p>
                        <p class="light center-align">
                            In my journey so far, I have enjoyed my association with computer science in two ways. One,
                            as
                            pure technology, that is fascinating, logical, and intellectually stimulating. Second, which
                            is
                            perhaps more important, its potential to impact lives all around the globe. I have
                            significant
                            exposure in software development, but still feel that what I have learnt and
                            experienced is merely the tip of the iceberg. I desire explore the depth, making technology
                            as
                            enabler for people around the world and play a more contributory role in society
                        </p>
                    </div>
                    <div class="col s12 m2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>