<div class="navbar-fixed">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <!--<a id="logo-container" href="#" class="brand-logo">Bhanu Jain</a>-->
            <ul class="hide-on-med-and-down center">
                <li><a href="#">About Me</a></li>
                <li><a href="#">Current Experience</a></li>
                <li><a href="#">Eduction</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Recommendations</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">About Me</a></li>
                <li><a href="#">Current Experience</a></li>
                <li><a href="#">Eduction</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Recommendations</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>