<div class="col-lg-8">
    <div class="row">
        <h1 class="page-header">Form: {{form.title}}</h1>
    </div>
    <div class="row" ng-include="'views/forms/forms.tab.view.html'">
    </div>
    <div class="row no-left-margin top-margin-30">
        <div ui-sortable="model.sortableOptions" ng-model="model.fields">
            <div class="row no-left-margin form-field-div" ng-repeat="field in model.fields">
                <form-field field="field"></form-field>
            </div>
        </div>
    </div>
    <div class="row no-left-margin top-margin-30 jumbotron">
        <form>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                <div class="form-group">
                    <label for="form-new-field">Add New Field</label>
                    <select id="form-new-field" ng-model="model.newfieldSelector" class="form-control"
                            ng-options="ft as ft.label for ft in model.fieldType">
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 top-margin-25">
                <div>
                    <a ng-click="model.addNewField(model.newfieldSelector)" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
